<header class="bg-gray-800 text-white p-4">
  <div class="max-w-7xl mx-auto">
    <div
      class="flex lg:flex-row flex-col w-full justify-between items-center gap-3"
    >
      <div class="logo">
        <a href="/" class="hover:text-gray-400">
          <h3 class="text-3xl font-bold">LOGO</h3>
        </a>
      </div>
      <nav class="nav-items">
        <ul class="flex space-x-4 lg:space-x-8 font-semibold txt-sm lg:text-lg">
          <li>
            <a href="/" class="hover:text-gray-400"> Home </a>
          </li>
          <li>
            <a href="/about" class="hover:text-gray-400"> About </a>
          </li>
          <li>
            <a href="/services" class="hover:text-gray-400"> Services </a>
          </li>
          <li>
            <a href="/contact" class="hover:text-gray-400"> Contact </a>
          </li>
          <li>
            <a href="/markdown" class="hover:text-gray-400"> Markdown </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
